# Ignore the huge dataset folder
data/
data_bbbc038/

# Ignore python compiled files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env

# Ignore Mac system files
.DS_Store

# Ignore IDE settings (VS Code, PyCharm)
.vscode/
.idea/
